# Ignore Gradle project-specific cache directory
.gradle

# Ignore gradle wrapper jar (will be downloaded on first use)
gradle/wrapper/gradle-wrapper.jar

# Ignore Gradle build output directory
build

# Ignore IntelliJ IDEA folders and project files because of using gradle
.idea
*.iml
