[Desktop Entry]
Name=jExifToolGUI
Comment=jExifToolGUI exiftool gui
Exec=/usr/bin/jexiftoolgui
Icon=/usr/share/jexiftoolgui/jexiftoolgui-48x48
Terminal=false
Type=Application
Categories=Graphics;Viewer;Utility;
StartupNotify=true
